.brand-container{
    padding-top: 3rem;
    padding-bottom: 1rem;
    justify-content: center;
    display: flex;
    background-color: #e8fdff;
    
}
.brand_images{
    margin: 2rem;
    padding: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.BrandContent{
    font-size: 1.4rem !important;
    font-family: 'Apex New' !important;
}
.BrandColorContent{
    background: linear-gradient(-45deg,#44f1ff,#105459,#44f1ff,#105459);
    background-size: 100% 100%;
    background-clip: text;
    -webkit-text-stroke: 3px transparent ;
    -webkit-text-fill-color: #105459;
    display: inline-block;
}
.BrandColorContent h1, .BrandColorContent h2{
        font-family: 'Apex New' !important;
}
.BrandColorContent1{
    color: #105459;
    -webkit-text-fill-color: #105459;
}